============= admin_app.js module ==============

<%= @opt.module_name %>

============= INDEX TEMPLATE ==============

<script src="js/services/<%=@opt.resource%>_service.js"></script>


============== ROUTER ===================

    .state('admin.<%=@opt.resources_name%>', {
        url: '/<%=@opt.resources_name%>',
        template: '<div ui-view class="fade-in"></div>',
        controller: '<%=@opt.class_name%>BaseCtrl',
        resolve: load(['js/services/<%=@opt.resource%>_service.js', 
        'js/controllers/<%=@opt.resource%>/base_controller.js'])
    })
    .state('admin.<%=@opt.resources_name%>.index', {
        url: '/index',
        templateUrl: 'admin_tpl/<%=@opt.resource%>/index.html',
        resolve: load([
        'ui.select',
        'xeditable',
        'js/controllers/<%=@opt.resource%>/index_controller.js',
        'js/controllers/<%=@opt.resource%>/update_controller.js',
        'js/controllers/<%=@opt.resource%>/delete_controller.js',
        'js/controllers/<%=@opt.resource%>/create_controller.js',
        ])
    })
    .state('admin.<%=@opt.resources_name%>.edit', {
        url: '/edit/:<%=@opt.resource_id%>',
        templateUrl: 'admin_tpl/<%=@opt.resources_name%>/form.html',
        controller: '<%=@opt.class_name%>EditCtrl',
        resolve: load([
        'angularFileUpload',
        'js/controllers/<%=@opt.resource%>/edit_controller.js'
        ])
    })