============= <%=@cfg.router_root_namespace%>_app.js module ==============

<%= @opt.module_name %>

============= INDEX TEMPLATE ==============

<script src="<%=@cfg.services_folder_path%>/<%=@opt.resource%>_service.js"></script>


============== ROUTER ===================

.state('<%=@cfg.router_root_namespace%>.<%=@opt.resources_name%>', {
    url: '/<%=@opt.resources_name%>',
    template: '<div ui-view class="fade-in"></div>',
    controller: '<%=@opt.class_name%>BaseCtrl',
})
.state('<%=@cfg.router_root_namespace%>.<%=@opt.resources_name%>.index', {
    url: '/index',
    templateUrl: '<%=@cfg.tpl_folder_path%>/<%=@opt.resource%>/index.html',
    resolve: load([
    'ui.select',
    'toaster',
    'xeditable'
    ])
})
.state('<%=@cfg.router_root_namespace%>.<%=@opt.resources_name%>.edit', {
    url: '/edit/:<%=@opt.resource_id%>',
    templateUrl: '<%=@cfg.tpl_folder_path%>/<%=@opt.resources_name%>/form.html',
    controller: '<%=@opt.class_name%>EditCtrl',
    resolve: load([
    'angularFileUpload'
    ])
})